<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>title.png</key>
			<dict>
				<key>width</key>
				<integer>409</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>413</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.100006103515625</real>
				<key>offsetY</key>
				<real>-0.100006103515625</real>
			</dict>
			<key>startGame_up.png</key>
			<dict>
				<key>width</key>
				<integer>296</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>296</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>startGame_down.png</key>
			<dict>
				<key>width</key>
				<integer>296</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>296</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>360</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>win.png</key>
			<dict>
				<key>width</key>
				<integer>409</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>409</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>411</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playAgainBtn_Up.png</key>
			<dict>
				<key>width</key>
				<integer>311</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>313</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>298</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>1.10000610351563</real>
				<key>offsetY</key>
				<real>-0.0999984741210938</real>
			</dict>
			<key>playAgainBtn_Down.png</key>
			<dict>
				<key>width</key>
				<integer>306</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>308</integer>
				<key>originalHeight</key>
				<integer>94</integer>
				<key>x</key>
				<integer>411</integer>
				<key>y</key>
				<integer>159</integer>
				<key>offsetX</key>
				<real>-1.19999694824219</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>lose.png</key>
			<dict>
				<key>width</key>
				<integer>351</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>351</integer>
				<key>originalHeight</key>
				<integer>182</integer>
				<key>x</key>
				<integer>611</integer>
				<key>y</key>
				<integer>249</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Panel0.png</string>
			<key>realTextureFileName</key>
			<string>Panel0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>